#about {
  .counter {
    margin: 38px 0;
    font-family: Helvetica;
    text-align: center;

    .now-live {
      font-size: 60px;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      display: none;
    }

    .days, .hours, .minutes, .seconds {
      display: inline-block;
      position: relative;
      margin: 5px;
      text-align: center;

      .label {
        margin-top: 8px;
        text-transform: uppercase;
        font-size: 11px;
      }

      .value {
        min-width: 78px;
        height: 78px;

        &.wide {
          padding: 0 5px;
        }

        border: 1px solid #efb718;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.4);
        -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.4);
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.4);

        background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.5, #FFD826),
          color-stop(1, #FDB40B)
        );
        background-image: -o-linear-gradient(bottom, #FFD826 50%, #FDB40B 100%);
        background-image: -moz-linear-gradient(bottom, #FFD826 50%, #FDB40B 100%);
        background-image: -webkit-linear-gradient(bottom, #FFD826 50%, #FDB40B 100%);
        background-image: -ms-linear-gradient(bottom, #FFD826 50%, #FDB40B 100%);
        background-image: linear-gradient(to bottom, #FFD826 50%, #FDB40B 100%);

        color: #363636;
        font-size: 58px;
        font-weight: bold;
        line-height: 78px;
        text-shadow: 1px 1px 1px #ffffff;

        &:after {
          display: block;
          top: 39px;
          left: 0;
          width: 100%;
          height: 0px;
          position: absolute;
          border-top: 1px solid rgba(233, 144, 41, 0.75);
          border-bottom: 1px solid rgba(255, 255, 255, 0.75);
          content: "";
        }
      }
    }

    &.finished {
      .now-live {
        display: inline-block;
      }
      .days, .hours, .minutes, .seconds {
        display: none;
      }
    }
  }

  .location, .conference-objectives, .technical-details {
    padding: 20px;
  }

  .conference-objectives, .technical-details {
    float: left;
    clear: left;
    width: 400px;
  }

  .participants-geo {
    clear: both;
    text-align: center;

    @media @mobile {
      display: none;
    }
  } 

  .location {
    width: 260px;
    margin: 0 auto;
    padding-bottom: 40px;
    background: #ececec;
    background-image: url('../img/location-bottom.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    
    @media @default {
     float: right;
    }

    .map-wrapper {
      padding: 10px 10px 6px 10px;
      .box-shadow(0px 0px 4px rgba(50, 50, 50, 0.2));
      background: white;

      p {
        margin: 0;
      }

      a {
        display: block;
        height: 30px;
        margin: 0 0 10px 0;
        padding-left: 40px;
        color: @blue;
        background: url('../img/venue.png') 5px center no-repeat;
        font-family: Helvetica;
        font-size: 13px;
        line-height: 15px;
        text-decoration: none;
      }

      img {
        margin: 0;
      }
    }
  }

  .summary {
    padding: 0 20px 20px 20px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #c4c4c4;
  }
}
