#content {
  img, p {
    float: left;
  }

  img {
    clear: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div {
    margin-bottom: 40px;
    margin-left: 170px;
    min-height: 160px;

    &>p {
      float: none;
    }
  }

  a.more {
    font-size: 18px;
  }
}

#speech {

  img.photo {
    float: left;
    clear: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  div.description {
    margin-bottom: 40px;
    margin-left: 170px;
    min-height: 160px;
  }

  iframe {
    margin: 0 auto 30px auto !important;
    display: block;
  }
}
