@mobile: ~"screen and (max-width: 940px)";
@default: ~"not screen and (max-width: 940px)";

html, body {
	height: 100%;
}

body {
  @media @default {
    background: #d3d3d3 url('/img/bg.jpg') center center no-repeat;
    background-attachment: fixed;
  }
}

.github-ribbon {
  position: absolute;
  left: 0;
  top: 0;
  width: 149px;
  height: 149px;
  background-image: url('/img/github-ribbon.png');
  text-indent: -10000px;
  z-index: 5000;
  
  @media @mobile {
    display: none;
  }
}

.container {
  .clearfix();
  min-width: 470px;
  margin: 0px auto;
  font-family: Georgia;
  font-size: 16px;
  line-height: 22px;

  .push {
    height: 112px; /* .push must be the same height as .footer */
  }

  @media @default {
    width: 900px;
  }

  @media @mobile {
    width: 100%;

    .push {
      display: none;
    }
  }

  @media @default {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -112px auto; /* the bottom margin is the negative value of the footer's height */
    position: relative;
  }
}

header {
  position: relative;
  z-index: 750;
  overflow: visible;
  background: @blue;

  &:after {
    display: block;
    width: 100%;
    height: 21px;
    position: absolute;
    bottom: -21px;
    content: "";
    background: url('/img/header-bottom.png') center bottom no-repeat;
  }

  a {
    text-decoration: none;
  }

  h1, h2 {
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
  }

  h1 {
    .year {
      font-weight: normal;
    }
  }
  
  .language-selector {
    font-family: Helvetica;
    font-size: 13px;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }

    a, span {
      color: @blue;
    }
  }

  @media @default {
    margin-top: 20px;
    height: 210px;

    h1 {
      width: 150px;
      height: 90px;
      padding: 20px 10px 20px 70px;
      font-size: 30px;
      line-height: 30px;
      position: absolute;
      top: 55px;
      left: 150px;
      background-color: #f5f5f5;
      background-image: url('/img/header-bevel.png');
      background-position: right bottom;
      background-repeat: no-repeat;
      color: black;
    }

    h2 {
      width: 148px;
      height: 128px;
      padding: 30px 20px 20px 20px;
      position: absolute;
      z-index: 500;
      top: 27px;
      left: 34px;
      background-image: url('/img/header-ribbon.png');
      background-repeat: no-repeat;
      text-align: center;
      color: white;

      .month {
        font-size: 17px;
        font-weight: bolder;
      }

      .days {
        font-size: 33px;
        white-space: nowrap;
      }
    }

    .language-selector {
      position: absolute;
      right: 20px;
      top: 0;

      .ru, .en {
        float: left;
        width: 45px;
        height: 30px;
        line-height: 30px;
        text-align: center;

        &.active {
          background-position: -50px 0;
        }
      }
      .ru {
        padding-left: 5px;
        background-image: url('/img/rus-sprite.png');
      }
      .en {
        padding-right: 5px;
        background-image: url('/img/eng-sprite.png');
      }
    }
  }

  @media @mobile {
    h1, h2, .language-selector {
      display: block;
      padding: 0 10px;
      background: @yellow;
      font-size: 18px;
      line-height: 30px;
    }

    h1 {
      color: black;
    }

    h2 {
      float: left;
      color: white;
    }
      
    .language-selector {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;

      .ru, .en {
        float: left;
        padding: 0 7px;
        line-height: 30px;
        background: @dark-blue;

        &.active {
          background: white;
        }
      }
    }
  }

  .logo {
    padding: 20px 0 10px 0;

    @media @default {
      position: absolute;
      left: 450px;
      top: 54px;
    }

    @media @mobile {
      display: block;
      position: static;
      width: 300px;
      margin: 0 auto;
      clear: both;
    }
  }
}

nav.main {
  .clearfix();
  position: relative;
  background: @gray;
  font-size: 15px;

  @media @default {
    &:before {
      display: block;
      width: 100%;
      height: 23px;
      position: absolute;
      top: 1px;
      // must go in `content`, not in `background-image` (IE8 fix):
      content: url('/img/header-shadow.png');
      z-index: 100;
    }
  }

  ul.first-level {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      padding: 0;
      margin: 0;
      float: left;
      position: relative;

      ul.second-level {
        display: none;
      }

      &.active {
        &.first {
          ul.second-level {
            border-left: none;
            left: 0px;
          }
        }
        
        border-right: #fff solid 1px;

        ul.second-level {
          border: #aaa solid 1px;
          border-top: none;
          background: white;
          left: -1px;

          a, span {
            color: black;
            
            &:hover {
              background: darken(white, 10%);
            } 
          }
        }
      }

      @media @default {
        width: 149px;
        border-right: #aaa solid 1px;
        &.last {
          width: 150px;
          border-right: none;
        }

        ul.second-level {
          position: absolute;
          top: 70px;
          left: 0px;

          padding: 0;
          margin: 0;
          background: @gray;
          z-index: 300;

          a, span {
            padding: 0 10px;
            text-align: left;
            width: 220px;
            height: 40px;
            line-height: 40px;
          }
        }

        &.expandable {
          &:hover {
            ul.second-level {
              display: block;
            }
          }

          &>a {
            pointer-events: none;
            &:after {
              content: url('/img/menu-arrow-white.png');
              display: inline;
            }
          }

          &>span {
            &:after {
              content: url('/img/menu-arrow-black.png');
              display: inline;
            }
          }
        }
      }

      @media @mobile {
        width: 100%;
        border-bottom: #525252 solid 1px;
        &.last {
          border-bottom: none;
        }
        &:first-child {
          a, span {
            padding-top: 20px;
          }
        }
      }

      &>a, &>span {
        height: 50px;
        line-height: 50px;
        @media @default {
          padding-top: 20px;
        }
      }
    }
  }

  
  a, span {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &.emphasized {
      color: black;
      background: @yellow;
    }

    &.active {
      color: black;
      background: white;
    }
  }

  a:hover {
    background: lighten(@gray, 5%);
  }

  a.emphasized:hover {
    background: lighten(@yellow, 5%);
  }
}

article {
  .clearfix();
  padding: 50px 20px 20px 20px;
  background: white;

  @media @default {
    &:before {
      width: 900px;
      position: absolute;
      display: block;
      content: "";
      top: 20px;
      bottom: 20px;
      left: 50%;
      margin-left: -450px;
      z-index: -1;
      background: white;
      .box-shadow(0px 0px 4px rgba(50, 50, 50, 0.5));
    }
  }
}


footer {
  .clearfix();

  @media @default {
    width: 900px;
    height: 32px;
  }
  
  @media @mobile {
    width: 100%;
    min-width: 470px;
  }

  padding: 40px 0 20px 0;
  margin: 0 auto;
  background: @blue url('/img/footer-top.png') center top no-repeat;
  z-index: 1500;
  position: relative;

  .social-buttons {
    padding: 0;

    @media @default {
      float: right;
      margin-right: 35px;
    }

    @media @mobile {
      text-align: center;
    }

    a {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin: 0 5px 0 5px;
      text-indent: -10000px;
      background-image: url('/img/social-buttons-sprite.png');
      
      @media @default {
        float: right;
      }

      &.facebook { background-position: 0px 0; }
      &.vk { background-position: -32px 0; }
      &.twitter { background-position: -64px 0; }
    }
  }

  nav {
    color: white;
    font-family: Helvetica;

    @media @default {
      float: left;
      margin-left: 35px;
      line-height: 32px;
    }

    @media @mobile {
      margin: 10px;
      text-align: center;
    }

    a {
      padding: 0;
      color: white;
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;

      @media @default {
        float: left;
      }

      &:after {
        content: "\00a0\00a0|\00a0\00a0";
      }

      &.last:after {
        content: "";
      }

      &.emphasized {
        color: @yellow;
      }
    }
  }
}

article ul {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;

  li {
    padding: 10px;
    padding-left: 40px;
    background: url('/img/bullet.png') left center no-repeat;
    line-height: 20px;
  }
}

h2, h3, h4 {
  margin: 0 0 20px 0;
  font-family: Helvetica;
  text-transform: uppercase;
} 

h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

p {
  padding: 0;
  margin: 0 0 20px 0;
}

a {
  color: @blue;

  &:hover {
    text-decoration: none;
  }
}
