<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title|default('PyCon Russia 2014') }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base target="_blank">
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
    <![endif]-->
    {% assets 'css' %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter18910277 = new Ya.Metrika({id:18910277,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/18910277" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
    <a href="https://github.com/pyconru/pycon.ru" class="github-ribbon">Fork me on GitHub</a>

    <div class="container">
      <header>
        <a href="{{ url_for('conference/about') }}" target="_self">
          <h2>
            <span class="month">{{ _('June') }}</span>
            <span class="days">2&ndash;3</span>
          </h2>

          <h1>
            PyCon Russia <span class="year">2014</span>
          </h1>
        </a>
        
        <section class="language-selector">
          <a href="{{ url_for(PATH, language='ru') }}" target="_self"
             class="ru{% if LANGUAGE == 'ru' %} active{% endif %}">Рус</a>
          <a href="{{ url_for(PATH, language='en') }}" target="_self"
             class="en{% if LANGUAGE == 'en' %} active{% endif %}">Eng</a>
        </section>

        <a href="{{ url_for('conference/about') }}" target="_self">
          <img src="{{ STATIC_URL }}img/logo.png" class="logo">
        </a>
      </header>

      {% set LABELS = {
        'conference': _('Conference'),
        'conference/about': _('About'),
        'conference/organizers': _('Organizers'),
        
        'program': _('Program'),
        'program/headliners': _('Headliners'),
        'program/content': _('Content'),
        'program/schedule': _('Schedule'),

        'participation': _('Participation'),
        'participation/price': _('Price'),
        'participation/venue': _('Venue'),
        'participation/hotels': _('Hotels'),

        'partners': _('Partners'),
        'partners/list': _('Partners'),
        'partners/join': _('Join'),
        
        'contacts': _('Contacts'),

        'register': _('Register'),
        'summary': _('Summary'),
      } %}

      <nav class="main">
        <ul class="first-level">
          {% for page in ROOT.CHILDREN %}

            {% set is_active = PATH.startswith(page.PATH) -%}
            <li class="{% if page.CHILDREN and page.NAME != 'results' %}expandable{% endif %}
                       {% if is_active %}active{% endif %}">
              <a href="{{ url_for(page.PATH) }}" target="_self"
                 class="{% if page.PATH == 'register' %}emphasized{% endif %}
                        {% if is_active %}active{% endif %}
                        {% if page.PATH == 'results' %}results{% endif %}">
                {{ LABELS[page.PATH] }}
              </a>

              {% if page.CHILDREN and page.NAME != 'results' %}
                <ul class="second-level">
                  {% for subpage in page.CHILDREN %}
                    <li>
                      <a href="{{ url_for(subpage.PATH) }}" target="_self">
                        {{ LABELS[subpage.PATH] }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>

      {% set PAGE_IDS = {
        'conference/about': 'about',
        'conference/organizers': 'organizers',
        'program/schedule': 'schedule',
        'program/headliners': 'headliners',
        'program/content': 'content',
        'partners/list': 'partners',
      } %}

      <article id="{% block content_id %}{{ PAGE_IDS.get(PATH, '') }}{% endblock %}">
        {% block content %}
        {% endblock %}
      </article>

      <div class="push"></div>
    </div>
      
    <footer>
      <nav>
        {% for page in ROOT.CHILDREN %}
          <a class="{% if page.PATH == 'summary' %}emphasized{% endif %}
                    {% if is_active %}active{% endif %}
                    {% if loop.last %}last{% endif %}"
             href="{{ url_for(page.PATH) }}" target="_self">
            {{ _(LABELS[page.PATH]) }}
          </a>
        {% endfor %}
      </nav>

      <section class="social-buttons">
        <a href="http://www.facebook.com/ruPycon" class="facebook">Facebook</a>
        <a href="http://vk.com/pyconru" class="vk">Vk</a>
        <a href="https://twitter.com/PyConRu" class="twitter">Twitter</a>
      </section>
    </footer>

    <script>
        var _gaq=[['_setAccount','UA-37098336-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script>
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter18910277 = new Ya.Metrika({id:18910277, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    </script>
  </body>
</html>
