<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title|default('PyCon Russia 2019') }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/2019/css/tickets.css" />
    <base target="_blank">
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
    <![endif]-->
    {% assets 'css' %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block head_extra %}{% endblock %}
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-117836-8uIWL';</script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '222366295175996');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=222366295175996&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter37714000 = new Ya.Metrika({
      id:37714000,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
      });
      } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <!-- /Yandex.Metrika counter -->

    <a href="https://github.com/pyconru/pycon.ru" class="github-ribbon">Fork me on GitHub</a>

    <div class="container">
      <header>
        <a href="{{ url_for('conference/about') }}" target="_self">
          <h2>
            <span class="month">{{ _('June') }}</span>
            <span class="days">24&ndash;25</span>
          </h2>

          <h1>
            PyCon Russia <span class="year">2019</span>
          </h1>
        </a>

        <section class="language-selector">
          <a href="{{ url_for(PATH, language='ru') }}" target="_self"
             class="ru{% if LANGUAGE == 'ru' %} active{% endif %}">Рус</a>
          <a href="{{ url_for(PATH, language='en') }}" target="_self"
             class="en{% if LANGUAGE == 'en' %} active{% endif %}">Eng</a>
        </section>

        <a href="{{ url_for('conference/about') }}" target="_self">
          <img src="{{ STATIC_URL }}img/new_logo2016.png" class="logo">
        </a>
      </header>

      {% set LABELS = {
        'conference': _('Conference'),
        'conference/about': _('About'),
        'conference/coc': _('Code of Conduct'),
        'conference/organizers': _('Organizers'),
        'conference/contacts': _('Contacts'),

        'program': _('Program'),
        'program/cfp': _('Call For Proposals'),
        'program/speakers': _('Speakers'),
        'program/content': _('Content'),
        'program/schedule': _('Schedule'),
        'program/Unconference': _('Unconference'),

        'participation': _('Participation'),
        'participation/price': _('Price'),
        'participation/venue': _('Venue'),
        'participation/hotels': _('Hotels'),
        'participation/faq': _('faq'),

        'partners': _('Partners'),
        'partners/list': _('Partners'),
        'partners/join': _('Join'),

        'archive': _('Archive'),
        'archive/2013': _('PyCon Russia 2013'),
        'archive/2014': _('PyCon Russia 2014'),
        'archive/2015': _('PyCon Russia 2015'),
        'archive/2016': _('PyCon Russia 2016'),
        'archive/2017': _('PyCon Russia 2017'),
        'archive/2018': _('PyCon Russia 2018'),

        'register': _('Register'),
        'summary': _('Summary'),
      } %}

      <nav class="main">
        <ul class="first-level">
          {% for page in ROOT.CHILDREN %}
            {% set is_active = PATH.startswith(page.PATH) -%}
            <li class="{% if page.CHILDREN and page.NAME != 'results' %}expandable{% endif %}
                       {% if is_active %}active{% endif %}">
              <a href="{{ url_for(page.PATH) }}" target="_self"
                 class="{% if page.PATH == 'register' %}emphasized{% endif %}
                        {% if is_active %}active{% endif %}
                        {% if page.PATH == 'results' %}results{% endif %}">
                {{ LABELS[page.PATH] }}
              </a>

              {% if page.CHILDREN and page.NAME != 'results' %}
                <ul class="second-level">
                  {% for subpage in page.CHILDREN %}
                    <li>
                      <a href="{{ url_for(subpage.PATH) }}" target="_self">
                        {{ LABELS[subpage.PATH] }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>

      {% set PAGE_IDS = {
        'conference/about': 'about',
        'conference/coc': 'coc',
        'conference/organizers': 'organizers',
        'program/schedule': 'schedule',
        'conference/cfp': 'cfp',
        'program/speakers': 'speakers',
        'program/content': 'content',
        'partners/list': 'partners',
        'program/Unconference': 'Unconference',
      } %}

      <article id="{% block content_id %}{{ PAGE_IDS.get(PATH, '') }}{% endblock %}">
        {% block content %}
        {% endblock %}
      </article>

      <div class="push"></div>
    </div>

    <footer>
      <nav>
        {% for page in ROOT.CHILDREN %}
          <a class="{% if page.PATH == 'summary' %}emphasized{% endif %}
                    {% if is_active %}active{% endif %}
                    {% if loop.last %}last{% endif %}"
             href="{{ url_for(page.PATH) }}" target="_self">
            {{ _(LABELS[page.PATH]) }}
          </a>
        {% endfor %}
      </nav>

      <section class="social-buttons">
        <a href="http://www.facebook.com/ruPycon" class="facebook">Facebook</a>
        <a href="http://vk.com/pyconru" class="vk">Vk</a>
        <a href="https://twitter.com/PyConRu" class="twitter">Twitter</a>
      </section>
    </footer>

    <script>
        var _gaq=[['_setAccount','UA-37098336-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script>
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter18910277 = new Ya.Metrika({id:18910277, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    </script>
  </body>
</html>
