{% extends "_base.html" %}

{% block content %}
  {% for page in CHILDREN %}
    {% for photo in page.photos %}
      <img src="{{ photo }}">
    {% endfor %}

    <div class="talk">
      {{ page.speaker|default('')|markdown }}
      <p><a href="{{ url_for(page.PATH) }}" target="_self"><b>{{ page.title }}</b></a></p>
      <p>{{ page.description|default('')|markdown }}</p>
      {% if page.media %}
        <a href="{{ url_for(page.PATH) }}" target="_self" class="more">{{ _('Video & Slides') }} &rarr;</a>
      {% endif %}
    </div>
  {% endfor %}
  
  <script type="text/javascript" src="https://pycon.ticketforevent.com/ru/widget/?h=0&s=0"></script>
  <script>
    var span = document.getElementsByClassName('epts-goToFormButton');
    var submitButton = span[0].children[0];
    submitButton.onclick = function(e) {
        _gaq.push(['_trackEvent', 'register', 'click']);
    };
  </script>
{% endblock %}
