{% extends "_base.html" %}

{% block head_extra %}
  <script src="/js/countdown.min.js" type="text/javascript"></script>
  <script>
    function updateCounter() {
        var start = new Date(2013, 1, 23, 0,  0, 0, 0);
        var c = countdown(start, null, countdown.DAYS | countdown.HOURS | countdown.MINUTES | countdown.SECONDS);
        document.getElementById('days-value').innerHTML = c.days;
        document.getElementById('hours-value').innerHTML = c.hours;
        document.getElementById('minutes-value').innerHTML = c.minutes;
        document.getElementById('seconds-value').innerHTML = c.seconds;
    }
    window.onload = function() {
        setInterval(updateCounter, 1000);
    }
  </script>
{% endblock %}

{% block content %}
  <h2>{% trans %}PyCon Russia 2013, Feb&nbsp;23&#8209;25{% endtrans %}</h2>

  <section class="counter">
    <div class="days">
      <div class="value" id="days-value">75</div>
      <div class="label">{{ _('days') }}</div>
    </div>

    <div class="hours">
      <div class="value" id="hours-value">06</div>
      <div class="label">{{ _('hours') }}</div>
    </div>

    <div class="minutes">
      <div class="value" id="minutes-value">24</div>
      <div class="label">{{ _('minutes') }}</div>
    </div>

    <div class="seconds">
      <div class="value" id="seconds-value">33</div>
      <div class="label">{{ _('seconds') }}</div>
    </div>

    <script>
      updateCounter();
    </script>
  </section>
  
  <div class="summary">
    {{ summary }}
  </div>

  <aside class="location">
    {{ location }}
    <div class="map-wrapper">
      <a href="{{ url_for('venue') }}" target="_self">
        {% trans %}See Venue for more information about conference location.{% endtrans %}
      </a>
      <img src="http://static-maps.yandex.ru/1.x/?pt=60.92495,56.5789,pm2lbm&ll=60.92495,56.5789&size=240,140&spn=0.15,0.15&l=map&key=ANpUFEkBAAAAf7jmJwMAHGZHrcKNDsbEqEVjEUtCmufxQMwAAAAAAAAAAAAvVrubVT4btztbduoIgTLAeFILaQ==">
    </div>
  </aside>

  <section class="conference-objectives">
    {{ conference_objectives }}
  </section>
  
  <section class="technical-details">
    {{ technical_details }}
  </section>
{% endblock %}
