{% extends "_base.html" %}

{% block head_extra %}
  <script src="{{ STATIC_URL }}js/countdown.min.js" type="text/javascript"></script>
  <script>
    function updateCounter() {
        var now = new Date();
        var start = new Date(2016, 7, 3, 9, 0, 0, 0);
        var finish = new Date(2016, 7, 4, 23, 59, 59, 0);

        if (now < start) {
            var c = countdown(start, null, countdown.DAYS | countdown.HOURS | countdown.MINUTES | countdown.SECONDS);
            var daysEl = document.getElementById('days-value');
            daysEl.className = 'value';
            if (c.days > 99) {
                daysEl.className += ' wide';
            }
            daysEl.innerHTML = c.days;
            document.getElementById('hours-value').innerHTML = c.hours;
            document.getElementById('minutes-value').innerHTML = c.minutes;
            document.getElementById('seconds-value').innerHTML = c.seconds;
        } else if (now > start) {
            var counter = document.getElementById('counter');
            counter.style.display = 'none';
        }
    }
    window.onload = function() {
        setInterval(updateCounter, 1000);
    }
  </script>
{% endblock %}

{% block content %}
  <h2>{% trans %}PyCon Russia moves to Moscow!{% endtrans %}</h2>

  <section class="counter" id="counter">
    <span class="now-live">{{ _('Now live!') }}</span>

    <div class="days">
      <div class="value" id="days-value">75</div>
      <div class="label">{{ _('days') }}</div>
    </div>

    <div class="hours">
      <div class="value" id="hours-value">06</div>
      <div class="label">{{ _('hours') }}</div>
    </div>

    <div class="minutes">
      <div class="value" id="minutes-value">24</div>
      <div class="label">{{ _('minutes') }}</div>
    </div>

    <div class="seconds">
      <div class="value" id="seconds-value">33</div>
      <div class="label">{{ _('seconds') }}</div>
    </div>

    <script>
      updateCounter();
    </script>
  </section>
  
  <div class="summary">
    {{ summary }}
  </div>

  <aside class="location">
    {{ location }}
    <div class="map-wrapper">
      <a href="{{ url_for('participation/venue') }}" target="_self">
        {% trans %}See Venue for more information about conference location.{% endtrans %}
      </a>
      <a href="https://maps.yandex.ru/?ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D36.857812%252C54.936515%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2B%25D0%259A%25D0%25B0%25D0%25BB%25D1%2583%25D0%25B6%25D1%2581%25D0%25BA%25D0%25B0%25D1%258F%2B%25D0%25BE%25D0%25B1%25D0%25BB%25D0%25B0%25D1%2581%25D1%2582%25D1%258C%252C%2B%25D0%2596%25D1%2583%25D0%25BA%25D0%25BE%25D0%25B2%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2B%25D1%2580%25D0%25B0%25D0%25B9%25D0%25BE%25D0%25BD%252C%2B%25D0%25B4%25D0%25B5%25D1%2580%25D0%25B5%25D0%25B2%25D0%25BD%25D1%258F%2B%25D0%2593%25D1%2580%25D0%25B8%25D0%25B1%25D0%25BE%25D0%25B2%25D0%25BA%25D0%25B0&ll=36.834347%2C54.934261&z=18&poi%5Bpoint%5D=36.835318%2C54.934319">
        <img src="http://static-maps.yandex.ru/1.x/?pt=36.835501,54.934688,pm2lbm&ll=36.847452,54.935812&size=240,140&spn=0.5,0.5&l=map">
      </a>
    </div>
  </aside>

  <section class="conference-objectives">
    {{ conference_objectives }}
  </section>
  
  <section class="technical-details">
  </section>

  <section class="participants-geo">
  </section>
{% endblock %}
