{% extends "_base.html" %}

{% macro talk(time, speaker, title) -%}
  <li class="talk">
    <time>{{ time }}</time><span>{{ title }}</span>
    <author>{{ speaker }}</author> 
  </li>
{%- endmacro %}

{% macro break(time, title) -%}
  <li class="break">
    <time>{{ time }}</time><span>{{ title }}</span>
  </li>
{%- endmacro %}

{% macro render_block(day, block) -%}
  <ul class="block {{ block }}">
    {% for event in day[block] %}
      {% if event.talk %}
        {{ talk(event.time, event.speaker, event.talk) }}
      {% endif %}
        
      {% if event.break %}
        {{ break(event.time, event.break) }}
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro %}

{% block content %}
  {% if day1 %}
    <h2>День 1</h1>
    <section class="day1">
      <h4>Большой конференц-зал</h4><h4 class="last">Малый конференц-зал</h4>
      {% for block in ['b0', 'b1', 'b2'] %}
        {{ render_block(day1, block) }}
      {% endfor %}

      <div class="columns-wrapper">
        {% for block in ['b3a', 'b3b'] %}
          {{ render_block(day1, block) }}
        {% endfor %}
      </div>

      {% for block in ['b4', 'b5a', 'b5b', 'b6', 'b7', 'b8', 'b9a', 'b9b', 'b9c', 'b10'] %}
        {{ render_block(day1, block) }}
      {% endfor %}
    </section>
  {% endif %}

  {% if day2 %}
    <h2>День 2</h1>
    <section class="day2">
      <h4>Большой конференц-зал</h4><h4>Малый конференц-зал</h4><h4 class="last">Конференц-зал в 1-м корпусе</h4>

      <div class="columns-wrapper">
        {% for block in ['b1a', 'b1b', 'b1c', 'b2', 'b3'] %}
          {{ render_block(day2, block) }}
        {% endfor %}
      </div>
      
      {% for block in ['b4', 'b5', 'b6', 'b7', 'b8', 'b9'] %}
        {{ render_block(day2, block) }}
      {% endfor %}
    </section>
  {% endif %}
{% endblock %}
