{% extends "_base.html" %}

{% macro talk(time, speaker, slug, title) -%}
  <li class="talk">
  <time>{{ time }}</time>{% if slug %}<a target="_self"
      href="{{ url_for('program/content/%s' % slug) }}">{{ title }}</a>{% else %}<span>{{ title }}</span>{% endif %}
    <author>{{ speaker }}</author> 
  </li>
{%- endmacro %}

{% macro break(time, title) -%}
  <li class="break">
    <time>{{ time }}</time><span>{{ title }}</span>
  </li>
{%- endmacro %}

{% macro render_block(day, block, halls) -%}
  <div class="block {{ block }} {% if block in halls %}w-hall-specified{% endif %}">
    {% if block in halls %}
      <span class="hall">{{ halls[block] }}</span>
    {% endif %}
    <ul>
    {% for event in day.get(block, []) %}
      {% if event.talk %}
        {{ talk(event.time, event.speaker, event.slug, event.talk) }}
      {% endif %}
        
      {% if event.break %}
        {{ break(event.time, event.break) }}
      {% endif %}
    {% endfor %}
    </ul>
  </div>
{%- endmacro %}

{% block content %}
  <p>
    {{ content }}
  </p>
  {% set lch = _('Large conference hall') %}
  {% set sch = _('Small conference hall') %}
  {% set trdch = _('Conference hall in 3rd building') %}
  {% set halls_day_1 = {
    'b1': lch,
    'b3a': lch,
    'b3b': sch,
    'b5a': lch,
    'b5b': sch,
    'b7': lch,
    'b9b': sch,
    'b9c': sch,
  } %}
  
  {% if day1 is defined %}
    <h2>{{ _('Day') }} 1</h1>
    <section class="day1">
      <h4>{{ lch }}</h4><h4 class="last">{{ sch }}</h4>
      {% for block in ['b0', 'b1', 'b2'] %}
        {{ render_block(day1, block, halls_day_1) }}
      {% endfor %}

      <div class="columns-wrapper">
        {% for block in ['b3a', 'b3b'] %}
          {{ render_block(day1, block, halls_day_1) }}
        {% endfor %}
      </div>

      {% for block in ['b4', 'b5a', 'b5b', 'b6', 'b7', 'b8', 'b9a', 'b10'] %}  {#  'b9b', 'b9c', #}
        {{ render_block(day1, block, halls_day_1) }}
      {% endfor %}
    </section>
  {% endif %}

  {% set halls_day_2 = {
    'b1a': lch,
    'b1b': sch,
    'b5b': sch,
    'b3': lch,
    'b5': lch,
    'b7': lch,
  } %}
  {# 'b1c': trdch, #}

  {% if day2 is defined %}
    <h2>{{ _('Day') }} 2</h1>
    <section class="day2">
      <h4>{{ lch }}</h4><h4 class="last">{{ sch }}</h4>

      <div class="columns-wrapper">
        {% for block in ['b1a', 'b1b', 'b2', 'b3'] %}
          {{ render_block(day2, block, halls_day_2) }}
        {% endfor %}
      </div>
      
      {% for block in ['b4'] %}
        {{ render_block(day2, block, halls_day_2) }}
      {% endfor %}
      
      <div class="columns-wrapper">
        {% for block in ['b5a', 'b5b'] %}
          {{ render_block(day2, block, halls_day_2) }}
        {% endfor %}
      </div>
      
      {% for block in ['b6', 'b7', 'b8', 'b9'] %}
        {{ render_block(day2, block, halls_day_2) }}
      {% endfor %}
    </section>
  {% endif %}
{% endblock %}
